/* Utils */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: 'Fredoka', sans-serif;
}

.white{
    color: #fff;
}

.bold{
    font-weight: bold;
}

a{
    color: cornflowerblue;
}

/* Generics */
.container{
    max-width: 1080px;
    margin: auto;
    margin-top: 80px;
    
}

h1{
    color: #e53170;
    text-align: center;
    margin: 30px;
}

p{
    text-align: center;
    margin: 50px 0;
}

.copyright{
    text-align: center;
}

img{
    width: 100px;
    height: 100%;
    float: left;
}

/* Card-box */
.cards-box{
    width: 100%;
    margin-bottom: 30px;
    margin-left: 30px;
}

.card{
   width:calc(100% / 3 -40px);
   float: left;
   background-color: black;
   margin: 20px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.bio{
  float: left;
  padding:10px;
}

